In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import sys


months = sys.argv[1:]



def plot_info(df, value, index, agg, ylabel, xlabel, opcao=None):
    if opcao == None:
        pd.pivot_table(df, values= value, index= index, aggfunc= agg).plot(figsize=(15,6))
    elif opcao == 'unstack':
        pd.pivot_table(df, values= value, index= index, aggfunc= agg).unstack().plot(figsize=(15,6))
    elif opcao == 'sort':
        pd.pivot_table(df, values= value, index= index, aggfunc= agg).sort_values(value).plot(figsize=(15,6))
        
    plt.xlabel(xlabel)
    plt.ylabel(ylabel)
    
    return None



for month in months:
    for s in os.listdir('./input'):
        if s.split('.')[0].endswith(month) == True:
            
            df = pd.read_csv('./input/' + s)
            
            os.makedirs('./output/figs/'+ df.DTNASC.max(), exist_ok=True)
            
            day = df.DTNASC.max()[:7]
            
            plot_info(df, 'IDADEMAE', 'DTNASC', 'mean', 'Data nascimento', 'Idade média mãe')
            plt.savefig('./output/figs/'+ df.DTNASC.max() + '/Idade média mãe por nascimento.png')

            plot_info(df, 'PESO', 'IDADEMAE', 'mean', 'Peso', 'Idade média mãe' )
            plt.savefig('./output/figs/'+ df.DTNASC.max() + '/Peso médio por idade mãe.png')

            plot_info(df, 'IDADEMAE', 'ESCMAE', 'count', 'Idade mãe', 'Escolaridade' )
            plt.savefig('./output/figs/'+ df.DTNASC.max() + '/Escolaridade por idade mãe.png')

            plot_info(df, 'IDADEMAE', ['DTNASC','SEXO'], 'mean', 'Idade média mãe', 'Data nascimento', 'unstack')
            plt.savefig('./output/figs/'+ df.DTNASC.max() + '/Idade média mãe por data de nascimento para cada sexo.png')

            plot_info(df, 'IDADEPAI', ['DTNASC','SEXO'], 'mean', 'Idade média mãe', 'Data nascimento', 'unstack')
            plt.savefig('./output/figs/'+ df.DTNASC.max() + '/Idade média pai por data de nascimento para cada sexo.png')
            
            print(day)

In [ ]:
def plot_info(df, value, index, agg, ylabel, xlabel, opcao=None):
    if opcao == None:
        pd.pivot_table(df, values= value, index= index, aggfunc= agg).plot(figsize=(15,6))
    elif opcao == 'unstack':
        pd.pivot_table(df, values= value, index= index, aggfunc= agg).unstack().plot(figsize=(15,6))
    elif opcao == 'sort':
        pd.pivot_table(df, values= value, index= index, aggfunc= agg).sort_values(value).plot(figsize=(15,6))
        
    plt.xlabel(xlabel)
    plt.ylabel(ylabel)
    
    return None

In [2]:
df = pd.read_csv('./input/SINASC_RO_2019.csv' )

In [5]:
df.head()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
0,1,2679477.0,110001,1,19,5.0,8 a 11 anos,NaN,0.0,0.0,...,5,1,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
1,1,2679477.0,110001,1,29,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,2,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
2,1,2679477.0,110001,1,37,9.0,8 a 11 anos,513205.0,2.0,0.0,...,5,3,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
3,1,2516500.0,110001,1,30,5.0,12 anos ou mais,231205.0,0.0,0.0,...,4,4,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273
4,1,2516500.0,110001,1,30,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,5,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27028 entries, 0 to 27027
Data columns (total 69 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ORIGEM        27028 non-null  int64
 1   CODESTAB      26913 non-null  float64
 2   CODMUNNASC    27028 non-null  int64
 3   LOCNASC       27028 non-null  int64
 4   IDADEMAE      27028 non-null  int64
 5   ESTCIVMAE     26711 non-null  float64
 6   ESCMAE        26716 non-null  object
 7   CODOCUPMAE    24121 non-null  float64
 8   QTDFILVIVO    25455 non-null  float64
 9   QTDFILMORT    24930 non-null  float64
 10  CODMUNRES     27028 non-null  int64
 11  GESTACAO      25796 non-null  object
 12  GRAVIDEZ      26949 non-null  object
 13  PARTO         26979 non-null  object
 14  CONSULTAS     27028 non-null  int64
 15  DTNASC        27028 non-null  object
 16  HORANASC      27007 non-null  float64
 17  SEXO          27024 non-null  object
 18  APGAR1        26932 non-null  float64
 19  APGAR5        26925 non-null  float64
 20  RACACOR       26381 non-null  object
 21  PESO          27028 non-null  int64
 22  IDANOMAL      26437 non-null  float64
 23  DTCADASTRO    27028 non-null  object
 24  CODANOMAL     214 non-null    object
 25  NUMEROLOTE    27028 non-null  int64
 26  VERSAOSIST    27028 non-null  object
 27  DTRECEBIM     27028 non-null  object
 28  DIFDATA       27028 non-null  int64
 29  DTRECORIGA    0 non-null      float64
 30  NATURALMAE    26730 non-null  float64
 31  CODMUNNATU    26730 non-null  float64
 32  CODUFNATU     26730 non-null  float64
 33  ESCMAE2010    26779 non-null  float64
 34  SERIESCMAE    14318 non-null  float64
 35  DTNASCMAE     26988 non-null  float64
 36  RACACORMAE    26367 non-null  float64
 37  QTDGESTANT    25816 non-null  float64
 38  QTDPARTNOR    25149 non-null  float64
 39  QTDPARTCES    25237 non-null  float64
 40  IDADEPAI      7607 non-null   float64
 41  DTULTMENST    16956 non-null  float64
 42  SEMAGESTAC    25790 non-null  float64
 43  TPMETESTIM    25790 non-null  float64
 44  CONSPRENAT    26098 non-null  float64
 45  MESPRENAT     24161 non-null  float64
 46  TPAPRESENT    26763 non-null  float64
 47  STTRABPART    26081 non-null  float64
 48  STCESPARTO    26281 non-null  float64
 49  TPNASCASSI    26967 non-null  float64
 50  TPFUNCRESP    26961 non-null  float64
 51  TPDOCRESP     27014 non-null  float64
 52  DTDECLARAC    26976 non-null  float64
 53  ESCMAEAGR1    26779 non-null  float64
 54  STDNEPIDEM    27028 non-null  int64
 55  STDNNOVA      27028 non-null  int64
 56  CODPAISRES    27028 non-null  int64
 57  TPROBSON      27028 non-null  int64
 58  PARIDADE      27028 non-null  int64
 59  KOTELCHUCK    27028 non-null  int64
 60  CONTADOR      27028 non-null  int64
 61  munResStatus  27028 non-null  object
 62  munResTipo    27028 non-null  object
 63  munResNome    27028 non-null  object
 64  munResUf      27028 non-null  object
 65  munResLat     27027 non-null  float64
 66  munResLon     27027 non-null  float64
 67  munResAlt     27027 non-null  float64
 68  munResArea    27027 non-null  float64
dtypes: float64(38), int64(16), object(15)
memory usage: 14.2+ MB

In [6]:
df.columns

Index(['ORIGEM', 'CODESTAB', 'CODMUNNASC', 'LOCNASC', 'IDADEMAE', 'ESTCIVMAE',
       'ESCMAE', 'CODOCUPMAE', 'QTDFILVIVO', 'QTDFILMORT', 'CODMUNRES',
       'GESTACAO', 'GRAVIDEZ', 'PARTO', 'CONSULTAS', 'DTNASC', 'HORANASC',
       'SEXO', 'APGAR1', 'APGAR5', 'RACACOR', 'PESO', 'IDANOMAL', 'DTCADASTRO',
       'CODANOMAL', 'NUMEROLOTE', 'VERSAOSIST', 'DTRECEBIM', 'DIFDATA',
       'DTRECORIGA', 'NATURALMAE', 'CODMUNNATU', 'CODUFNATU', 'ESCMAE2010',
       'SERIESCMAE', 'DTNASCMAE', 'RACACORMAE', 'QTDGESTANT', 'QTDPARTNOR',
       'QTDPARTCES', 'IDADEPAI', 'DTULTMENST', 'SEMAGESTAC', 'TPMETESTIM',
       'CONSPRENAT', 'MESPRENAT', 'TPAPRESENT', 'STTRABPART', 'STCESPARTO',
       'TPNASCASSI', 'TPFUNCRESP', 'TPDOCRESP', 'DTDECLARAC', 'ESCMAEAGR1',
       'STDNEPIDEM', 'STDNNOVA', 'CODPAISRES', 'TPROBSON', 'PARIDADE',
       'KOTELCHUCK', 'CONTADOR', 'munResStatus', 'munResTipo', 'munResNome',
       'munResUf', 'munResLat', 'munResLon', 'munResAlt', 'munResArea'],
      dtype='object')

In [11]:
df.ESTCIVMAE.value_counts()

2.0    9924
1.0    8952
5.0    7180
4.0     453
9.0     145
3.0      57
Name: ESTCIVMAE, dtype: int64

In [32]:
type((np.random.randn(1000, 2) / [50, 50])[0][0])

numpy.float64